body {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 480px) {
    body {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    body {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (min-width: 1920px) {
    body {
        margin-left: 150px;
        margin-right: 150px;
    }
}